html {
  height: 100%;
  width: 100%;
}
body {
  background-image: linear-gradient(to bottom right,#e3ffd1, 10%,#98ff98 , 80%, #002e2d)
}
.banner{
  border: 3px black;
  height: 200px;
  width: 99%;
}